# Next.js
.next/
out/
.turbo/

# dependencies
node_modules/

# env
.env*
!.env.example

# build / debug
*.tsbuildinfo
.next-types/
next-env.d.ts

# editor
.vscode/
.idea/
.DS_Store

# vercel
.vercel/
